<!DOCTYPE html>
<html lang="en">
    <head>
        <title>GameOver - 404</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body  id="pink">
        <%- include("header")%>
        <main>
            <a class="backButton" href="/">Restart Game</a>
            <div class="fofPage">
                <h1>404 - Page not found</h1>
                <p>Oh No! it's a</p>
                <div class="fof">
                    <p>4</p>
                    <img src="../../images/missingnogameboy.png" alt="0">
                    <p>4</p>
                </div>
            </div>
        </main>
    </body>
</html>