<!DOCTYPE html>
<html lang="en">
    <head>
        <title>GameOver - Landing</title>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <%- include("header") -%>
        <main class="pixelbackgound">
            <div class="landing">
                <div id="project">
                    <h1>Game Over</h1>
                    <div>
                        <p>Welcome to Game Over</p>
                        <p>Our SSC (Server-Side Coding) final project.</p>
                        <p>Game Over is a page for reviewing 8-bit games and consoles & seeing others reviews of them.</p>
                        <p>We have a database with games and consoles from the 1970s to the 2010s.</p>
                        <p>The team is on the right, comprised of Florian Schmid, Kaja Kitzmüller, Michael Zeller and Zsanett Waldau.</p>
                        <p>Have fun!</p>
                    </div>
                </div>

                <div id="developers">
                    <div id="team">
                        <div class="member" >
                            <img src="images/Florian.png" alt="Florian Schmid">
                            <h3>Florian</h3>
                        </div>
                        <div class="member">
                            <img src="images/Michael.png" alt="Michael Zeller">
                            <h3>Michael</h3>
                        </div>
                        <div class="member">
                            <img src="images/Zsanett.png" alt="Zsanett Waldau">
                            <h3>Zsanett</h3>
                        </div>
                        <div class="member">
                            <img src="images/Kaja.png" alt="Kaja Kitzmüller">
                            <h3>Kaja</h3>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>